.form-container{
    background-color: rgba(206, 206, 206, 0.227);
    padding: 30px;
    max-width: 510px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn.btn-primary{
    width: 300px;
}